<div data-address-form class="hide address__edit">
  {% form 'customer_address', address, class: 'form form--transparent' %}

  <header class="form__header form-header form-header--left">
    <h3 class="form-header__title">{{ 'customer.addresses.edit_address' | t }}</h3>
  </header>

  <div class="form__row form-row">
    <input type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}" value="{{ form.first_name }}"
      autocapitalize="words">
    <label for="AddressFirstName_{{ form.id }}">
      {{ 'customer.addresses.first_name.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}" value="{{ form.last_name }}"
      autocapitalize="words">
    <label for="AddressLastName_{{ form.id }}">
      {{ 'customer.addresses.last_name.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="text" name="address[company]" id="AddressCompany_{{ form.id }}" value="{{ form.company }}"
      autocapitalize="words">
    <label for="AddressCompany_{{ form.id }}">
      {{ 'customer.addresses.company.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}" value="{{ form.address1 }}"
      autocapitalize="words">
    <label for="AddressAddress1_{{ form.id }}">
      {{ 'customer.addresses.address1.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}" value="{{ form.address2 }}"
      autocapitalize="words">
    <label for="AddressAddress2_{{ form.id }}">
      {{ 'customer.addresses.address2.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="text" name="address[city]" id="AddressCity_{{ form.id }}" value="{{ form.city }}"
      autocapitalize="words">
    <label for="AddressCity_{{ form.id }}">
      {{ 'customer.addresses.city.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <label for="AddressCountry_{{ form.id }}">
      {{ 'customer.addresses.country.label' | t }}
    </label>
    <select data-address-country name="address[country]" id="AddressCountry_{{ form.id }}"
      class="address-country-option" data-form-id="{{ form.id }}" data-default="{{ form.country }}">
    </select>
  </div>

  <div id="AddressProvinceContainer_{{ form.id }}" data-address-province-wrapper class="hide form__row form-row">
    <label for="AddressProvince_{{ form.id }}">
      {{ 'customer.addresses.province.label' | t }}
    </label>
    <select data-address-province name="address[province]" id="AddressProvince_{{ form.id }}"
      data-default="{{ form.province }}">
    </select>
  </div>

  <div class="form__row form-row">
    <input type="text" name="address[zip]" id="AddressZip_{{ form.id }}" value="{{ form.zip }}"
      autocapitalize="characters">
    <label for="AddressZip_{{ form.id }}">
      {{ 'customer.addresses.zip.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" value="{{ form.phone }}" pattern="[0-9\-]*">
    <label for="AddressPhone_{{ form.id }}">
      {{ 'customer.addresses.phone.label' | t }}
    </label>
  </div>


  <div class="form__row form-row form-row--checkbox">
    {{ form.set_as_default_checkbox }}
    <label for="address_default_address_{{ form.id }}">
      {{ 'customer.addresses.set_default' | t }}
    </label>
  </div>

  <div class="form__row form-row form-row--submit">
    {%- capture buttonText -%}{{ 'customer.addresses.update' | t }}{%- endcapture -%}
    {% render 'button', type: 'submit', text: buttonText, style: 'tertiary'  %}

  </div>

  <div class="form__info form-info form-info--left">
    {% capture textLinkText %}{{ 'customer.addresses.cancel' | t }}{% endcapture %}
    {% capture textLinkAttributes %}data-address-toggle data-form-id="{{ form.id }}"{% endcapture %}
    {% render 'text-link', text: textLinkText, type: 'button', attributes: textLinkAttributes %}
  </div>

  {% endform %}

</div>