<div class="cart-item-product">
  {% if item.image != blank %}
    {% render 'image-component' with
      image: item.image,
      sizes: '10em',
      classes: 'cart-item-product__image'
    %}
  {% endif %}

  <div class="cart-item-product__info">
    <a href="{{ item.url }}" class="cart-item-product__info-title" data-cart-item-title data-role="product-title">
      {{ item.product.title }}
    </a>

    {%- assign variant_options = 'template ' | split: ' ' -%}
    {%- if item.product.has_only_default_variant != true -%}
      {%- assign variant_options = item.options_with_values -%}
    {%- endif -%}
    {%- assign property_size = item.properties | size -%}

    <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 and item.selling_plan_allocation == nil %} hide{% endif %}" data-cart-item-details aria-label="{{ 'cart.label.product_details' | t }}">
      {%- for option in variant_options -%}
        <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
      {%- endfor -%}

      <li
        class="product-details__item product-details__item--property
        {% if item.selling_plan_allocation == empty %} hide {% endif %}"
        data-cart-item-selling-plan-name>
        {{ item.selling_plan_allocation.selling_plan.name }}
      </li>


      <!-- Optional, loop through custom product line items if available

      Line item properties come in as having two parts. The first part will be passed with the default form,
      but p.last is the actual custom property and may be blank. If it is, don't show it.

      For more info on line item properties, visit:
      - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization -->


      {%- assign properties = 'template ' | split: ' ' -%}
      {%- if property_size > 0 -%}
        {%- assign properties = item.properties -%}
      {%- endif -%}

      {%- for p in properties -%}
        {% assign property_first_char = p.first | slice: 0 %}
        <li class="product-details__item product-details__item--property
          {%if property_size == 0 or p.last == blank or property_first_char == '_' %} hide{% endif %}" data-cart-item-property>
          <span class="product-details__item-label" data-cart-item-property-name>{{ p.first }}: </span>

            <!-- Check if there was an uploaded file associated -->
          <span data-cart-item-property-value>
            {%- if p.last contains '/uploads/' -%}
              <a href="{{ p.last }}" data-role="product-upload">{{ p.last | split: '/' | last }}</a>
            {%- else -%}
              {{ p.last }}
            {%- endif -%}
          </span>
        </li>
      {%- endfor -%}
    </ul>

  <p class="cart__remove">
    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-role="product-remove">{{ 'cart.general.remove' | t }}</a>
  </p>
</div>