<div class="cart-form__table">
  <table class="cart-table responsive-table">
    <thead>
      <tr>
        <th>{{ 'cart.label.product' | t }}</th>
        <th>{{ 'cart.label.price' | t }}</th>
        <th>{{ 'cart.label.quantity' | t }}</th>
        <th>{{ 'cart.label.total' | t }}</th>
      </tr>
    </thead>
    <tbody>
    {% for item in cart.items %}
      <tr class="responsive-table-row cart-table__product-row" data-product="{{ item.id }}">
        <td data-label="{{ 'customer.order.product' | t }}">
          {% render 'cart-item-product', item: item , index: forloop.index %}
        </td>
        <td data-label="{{ 'cart.label.p]rice' | t }}">
          {% render 'cart-item-price', item: item %}
        </td>
        <td data-label="{{ 'cart.label.quantity' | t }}">
          {% render 'cart-item-quantity', item: item, index: forloop.index %}
        </td>
        <td data-label="{{ 'cart.label.total' | t }}">
          {% render 'cart-item-total', item: item %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

