{% form 'recover_customer_password', class: 'form' %}

  <header class="form__header form-header">
    <h2 class="form-header__title">{{ 'customer.login.recover_password.title' | t }}</h2>
    <p>{{ 'customer.login.recover_password.subtext' | t }}</p>
  </header>

  {% if form.errors != blank %}
    <div class="form__message form-message form-message--error">
      {{ form.errors | default_errors }}
    </div>
  {% endif %}

  {% if form.posted_successfully? %}
    <span class="hide reset-password-success"></span>
  {% endif %}

  <div class="form__row form-row {%- if form.errors -%}form-row--error{% endif %}">
    <input
    type="email"
    name="email"
    value=""
    id="RecoverEmail"
    spellcheck="false"
    autocomplete="off"
    autocapitalize="off"
    {% if form.errors %}
      aria-invalid="true"
      aria-describedby="RecoverEmail-email-error"
    {%- endif -%}>
    <label for="RecoverEmail">
      {{ 'customer.login.recover_password.form.email.label' | t }}
    </label>
  </div>

  <div class="form__row form-row form-row--submit">
    {%- capture buttonText -%}{{ 'customer.login.recover_password.submit' | t }}{%- endcapture -%}
    {% render 'button', type: 'submit', text: buttonText, style: 'tertiary' %}
  </div>

  <div class="form__info form-info">
    {% assign textLinkText = 'customer.login.recover_password.cancel' | t %}
    {% render 'text-link', url: "javascript:void(0)", id: 'HideRecoverPasswordLink', text: textLinkText %}
  </div>

{% endform %}
