{% form 'create_customer', class: 'form', novalidate: 'novalidate' %}
  <header class="form__header form-header">
    <h3 class="form-header__title">{{ 'customer.register.title' | t }}</h3>
    <p class="form-header__intro">{{ 'customer.register.intro' | t }}</p>
  </header>

  {% render 'form-status', form: form, form_id: formId %}

  <div class="form__row form-row">
    <input type="text"
    name="customer[first_name]"
    id="{{ formId }}_first_name"
    {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
    autocomplete="given-name"
    autofocus>
    <label for="{{ formId }}_first_name">
      {{ 'customer.register.form.first_name.label' | t }}
    </label>
  </div>

  <div class="form__row form-row">
    <input type="text"
      name="customer[last_name]"
      id="{{ formId }}_last_name"
      {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
      autocomplete="family-name">
    <label for="{{ formId }}_last_name">
      {{ 'customer.register.form.last_name.label' | t }}
    </label>
  </div>

  <div class="form__row form-row {% if form.errors contains 'email' %} form-row--error{% endif %}">
    <input type="email"
      name="customer[email]"
      id="{{ formId }}_email"
      class="{% if form.errors contains 'email' %}input-error{% endif %}"
      {% if form.email %} value="{{ form.email }}"{% endif %}
      spellcheck="false"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      aria-required="true"
      {%- if form.errors contains 'email' -%}
        aria-invalid="true"
        aria-describedby="{{ formId }}-email-error"
      {%- endif -%}>
    <label for="{{ formId }}_email">
      {{ 'customer.register.form.email.label' | t }}
    </label>
  </div>

  <div class="form__row form-row {% if form.errors contains 'password' %}form-row--error{% endif %}">
    <input type="password"
      name="customer[password]"
      id="{{ formId }}_password"
      aria-required="true"
      {%- if form.errors contains 'password' -%}
        aria-invalid="true"
        aria-describedby="{{ formId }}_password_error"
      {%- endif -%}>
    <label for="{{ formId }}_password">
      {{ 'customer.register.form.password.label' | t }}
    </label>
  </div>

  <div class="form__row form-row form-row--submit">
    {%- capture buttonText -%}{{ 'customer.register.submit' | t }}{%- endcapture -%}
    {% render 'button', type: 'submit', text: buttonText, style: 'tertiary' %}
  </div>

  <div class="form__info form-info">
    {% assign textLinkText = 'customer.register.cancel' | t %}
    {% render 'text-link', url: shop.url, text: textLinkText %}

    {% assign textLinkText = 'customer.register.login' | t %}
    {% render 'text-link', url: routes.account_login_url, text: textLinkText %}
  </div>

{% endform %}
