{% form 'reset_customer_password', class: 'form' %}

  <header class="form__header form-header">
    <h3 class="form-header__title">{{ 'customer.reset_password.title' | t }}</h3>
    <p class="form-header__intro">{{ 'customer.reset_password.intro' | t: email: email }}</p>
  </header>

  {% if form.errors != blank %}
    <div class="form__message form-message form-message--error">
      {{ form.errors | default_errors }}
    </div>
  {% endif %}

  <div class="form__row form-row {% if form.errors contains 'password' %}form-row--error{% endif %}">
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      value="">
    <label for="ResetPassword">
      {{ 'customer.reset_password.form.password.label' | t }}
    </label>
  </div>

  <div class="form__row form-row {% if form.errors contains 'password_confirmation' %}form-row--error{% endif %}">
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      value="">
    <label for="PasswordConfirmation">
      {{ 'customer.reset_password.form.password_confirm.label' | t }}
    </label>
  </div>

  <div class="form__row form-row form-row--submit">
    {%- capture buttonText -%}{{ 'customer.reset_password.submit' | t }}{%- endcapture -%}
    {% render 'button', type: 'submit', style: 'tertiary', text: buttonText %}
  </div>

{% endform %}

