{% if classes == blank %}
  {% assign classes = '' %}
{% endif %}

<div class="main-header-actions {{ classes | join: ' ' }}">

  <a href="/search" class="main-header-actions__search">
    {% render 'icon-search' %}
    <span class="main-header-actions__search-label">
      {{ 'layout.search.title' | t }}
    </span>
  </a>

  {% if shop.customer_accounts_enabled %}
    <div class="main-header-actions__account">
      {% if customer %}
        <a href="{{ routes.account_url }}" class="main-header-actions__account-link">
      {% else %}
        <a href="{{ routes.account_login_url }}" class="main-header-actions__account-link">
      {% endif %}
        {{ 'layout.customer.account' | t }}
      </a>
    </div>
  {% endif %}

  <a class="main-header-actions__cart {% if cart.item_count > 0 %}main-header-actions__cart--active{% endif %}" href="{{ routes.cart_url }}">
    <span class="main-header-actions__cart-label">{{ 'layout.cart.title' | t }}</span>
    <div class="main-header-actions__cart-count" data-cart-count><span>{{ cart.item_count }}</span></div>
  </a>

  <button>
    Burger goes here
  </button>

</div>
