{% if classes == blank %}
  {% assign classes = '' %}
{% endif %}

<div class="product-price {{ classes | join: ' ' }}" data-price-wrapper  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <link itemprop="availability" href="http://schema.org/InStock">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
  
    {% unless product.available %}
      <s>
    {% endunless %}

    <span data-product-price>
      {% if product.compare_at_price > product.price %}
        {% if product.price_varies %}
          {%- assign sale_price = product.price | money -%}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% else %}
        {% if product.price_varies %}
          {%- assign price = product.price | money -%}
          {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
    </span>

    {% if product.compare_at_price > product.price %}
      <span class="screenreader-text" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
      <s class="product-price__compare-at" data-compare-pric>{{ product.compare_at_price | money }}</s>
    {% endif %}

    {% unless product.available %}
      </s>
      <div class="product-price__soldout">
        {{ 'products.product.sold_out' | t }}
      </div>
    {% endunless %}
  
</div>
