{% form 'product', product, class: 'product-content-form product-content__form', data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true', novalidate: 'novalidate' %}

  {% unless product.has_only_default_variant %}
    <div class="product-content-form__options product-options">
      {% for option in product.options_with_values %}
        <div class="product-options__row">
          <label for="Option{{ option.position }}">
            {{ option.name }}:
          </label>
          <select
            id="Option{{ option.position }}"
            name="options[{{ option.name | escape }}]">
            {% for value in option.values %}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endfor %}
    </div>
  {% endunless %}

  <select class="hide" name="id" data-product-select>
    {% for variant in product.variants %}
      <option
        {% if variant == currentVariant %}selected="selected"{% endif %}
        {% unless variant.available %}disabled="disabled"{% endunless %}
        value="{{ variant.id }}">
          {{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
      </option>
    {% endfor %}
  </select>


  <div class="product-content-form__quantity product-quantity {% unless currentVariant.available %} hide{% endunless %}">
    <div class="quantity-incrementor">
      <label for="Quantity" class="quantity-incrementor__label">{{ 'products.product.quantity' | t }}</label>
      <button class="quantity-incrementor__minus" type="button"><span class="screenreader-text">{{ 'general.accessibility.incrementor.minus' | t }}</span></button>
      <input class="quantity-incrementor__input" type="number" id="Quantity" name="quantity" value="1" min="1">
      <button class="quantity-incrementor__plus" type="button"><span class="screenreader-text">{{ 'general.accessibility.incrementor.plus' | t }}</span></button>
    </div>
  </div>

  {% if currentVariant.available %}
    {% render 'product-price', product: currentVariant, classes: 'product-content-form__button-price' %}
  {% endif %}

  <button
    type="submit"
    name="add"
    class="button button--add-to-cart product-content-form__button {% unless currentVariant.available %}product-content-form__button--soldout{% endunless %}"
    data-submit-button
    {% unless currentVariant.available %}disabled="disabled" aria-disabled="true"{% endunless %}>
      <span data-submit-button-text>
        {% if currentVariant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
  </button>

{% endform %}
