{% paginate customer.addresses by 5 %}

  {% render 'account-sub-nav' %}

  {% render 'page-title', title: page.title %}

  {% if customer.addresses != blank %}
    <section class="addresses">
      <div class="addresses__inner">
        {% for address in customer.addresses %}
          <div class="addresses__address address {% if address == customer.default_address %}address--default{% endif %}"
            data-address>

            <div class="address__container">
              {% if address == customer.default_address %}
                <h4 class="address__heading">{{ 'customer.addresses.default' | t }}</h4>
              {% endif %}

              <div class="address__content">
                {{ address | format_address }}
              </div>
              <div class="address__buttons">
                {% capture linkText %}{{ 'customer.addresses.edit' | t }}{% endcapture %}
                {% capture linkAttributes %}data-address-toggle{% endcapture %}
                {% render 'text-link', text: linkText, type: 'button', attributes: linkAttributes %}


                <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                  <input type="hidden" name="_method" value="delete" />
                  {% capture linkText %}{{ 'customer.addresses.delete' | t }}{% endcapture %}
                  {% render 'text-link', text: linkText, type: 'submit' %}
                </form>
              </div>
            </div>

            {% render 'address-form', address: address %}

          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  {% render 'addresses-new-address' %}

  {% if paginate.pages > 1 %}
    {% render 'pagination', paginate: paginate %}
  {% endif %}

{% endpaginate %}


