<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>

  {% render 'head-preload' %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no" />

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {% render 'head-title' %}

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% render 'head-social-meta-tags' %}
  {% render 'head-fonts' %}
  {% render 'head-favicons' %}

  {{ content_for_header }} <!-- Header hook for plugins -->

  <link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}" type="text/css" media="print" onload="this.media='all'">
  <script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>

  {% render 'google-analytics' %}

</head>
<body id="{{ page_title | handle }}" class="template-{{ request.page_type | handle }}">

  <nav id="skip-to">
    <a href="#main-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <a href="#main-nav">{{ 'general.accessibility.skip_to_nav' | t }}</a>
  </nav>

  <a id="top"></a>

  {% section 'promo-bar' %}

  {% section 'header' %}

  {% section 'mini-cart' %}

  <main role="main" id="main-content">
    {{ content_for_layout }}
  </main>

  {% section 'cookies' %}

  {% section 'footer' %}

  <nav id="back-to-top">
    <a href="#top">{{ 'general.accessibility.back_to_top' | t }}</a>
  </nav>

</body>
</html>
