<section class="mini-cart">
  <header class="mini-cart__header">
    <h3 class="mini-cart__header-title">{{ 'mini-cart.title' | t }}</h3>
    <button class="mini-cart__header-close">
      <span class="">{{ 'mini-cart.close' | t }}</span>
    </button>
  </header>

  <div class="mini-cart__error"></div>

  <div class="mini-cart__items mini-cart-items">
    {% if cart.item_count > 0 %}
      {% for item in cart.items %}
        {% render 'mini-cart-item', item: item %}
      {% endfor %}
    {% else %}
      <p class="mini-cart-items__empty">{{ 'mini-cart.empty' | t }}</p>
    {% endif %}
  </div>

  <div class="mini-cart__subtotal">
    {{ 'mini-cart.subtotal' | t }}: <span>{{ cart.total_price | money }}</span>
  </div>

  <footer class="mini-cart__footer">
    <div class="mini-cart__footer-message">
      {{ 'mini-cart.shipping' | t }}
    </div>
    <div class="mini-cart__footer-buttons">
      <a href="{{ routes.cart_url }}" class="cart-popup__cta-link btn btn--secondary-accent">
        {{ 'mini-cart.view_cart' | t }}
      </a>
      <a href="{{ routes.cart_url }}" class="button button--dark">{{ 'mini-cart.checkout' | t }}</a>
      {{ content_for_additional_checkout_buttons }}
    </div>
  </footer>

</section>