{% layout 'password' %}

<section class="account-blocks account-blocks--full" id="Login">
  <div class="account-blocks__block">

    {% form 'storefront_password', class: 'form' %}

      <header class="form__header form-header">

        <div class="form-header__logo">
          {% render 'logo' with
            link: routes.root_url,
            name: shop.name
          %}
        </div>

        <h4 class="form-header__title">{{ 'password_page.opening_soon' | t }}</h4>
        {% unless shop.password_message == blank %}
          <p>{{ shop.password_message | newline_to_br }} </p>
        {% endunless %}
      </header>

      {% if form.errors != blank %}
        <div class="form__message form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <div class="form__row form-row">
        <input type="password"
          name="password"
          id="Password">
        <label for="password">{{ 'password_page.form.password.label' | t }}</label>
      </div>

      <div class="form__row form-row form-row--submit">
        {%- capture buttonText -%}{{ 'password_page.form.password.submit' | t }}{%- endcapture -%}
        {% include 'button', type: 'submit', name: 'commit', style: 'tertiary', text: buttonText  %}
      </div>
    {% endform %}
  </div>
</section>