{% layout 'password' %}

{% render 'page-title', title: shop.name %}

<section class="section info" id="Login">
  <div class="info__block info-block form-container">

    {% render 'logo' with
      link: routes.root_url,
      name: 'Superrb'
    %}

    <header class="form-container__header form-container-header">
      <h3 class="form-container-header__title">{{ 'password_page.opening_soon' | t }}</h3>
      {% unless shop.password_message == blank %}
        <p>{{ shop.password_message | newline_to_br }} </p>
      {% endunless %}
    </header>

    {% form 'storefront_password', class: 'form-container__form form' %}
      {{ form.errors | default_errors }}
      <div class="form__row form-row">
        <label for="password">{{ 'password_page.form.password.label' | t }}</label>
        <input type="password"
          name="password"
          id="Password"
          placeholder="{{ 'password_page.form.password.placeholder' | t }}">
      </div>
      <div class="form__row form-row form-row--submit">
        <button type="submit" name="commit" class="button button--dark">
          {{ 'password_page.form.password.submit' | t }}
        </button>
      </div>
    {% endform %}

  </div>
</section>